In [1]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
my_skills = ['Python', 'SQL', 'Excel']
for job in job_roles:
  print(job)

{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}
{'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']}
{'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']}
{'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']}
{'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}
{'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']}
{'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']}
{'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']}
{'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']}
{'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}

In [4]:
for job in job_roles:
  for skill in my_skills:
    print(skill)
    print(job["skills"])

Python
['Python', 'SQL', 'Excel']
SQL
['Python', 'SQL', 'Excel']
Excel
['Python', 'SQL', 'Excel']
Python
['Python', 'R', 'Machine Learning', 'Deep Learning']
SQL
['Python', 'R', 'Machine Learning', 'Deep Learning']
Excel
['Python', 'R', 'Machine Learning', 'Deep Learning']
Python
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
SQL
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
Excel
['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']
Python
['Python', 'Apache Spark', 'Hadoop', 'SQL']
SQL
['Python', 'Apache Spark', 'Hadoop', 'SQL']
Excel
['Python', 'Apache Spark', 'Hadoop', 'SQL']
Python
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
SQL
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
Excel
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']
Python
['R', 'Python', 'MATLAB', 'Statistics']
SQL
['R', 'Python', 'MATLAB', 'Statistics']
Excel
['R', 'Python', 'MATLAB', 'Statistics']
Python
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
SQL
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
Excel
['Python', 'SQL', 'Data Visualization', 'Process Improvement']
Python
['SQL', 'Oracle', 'MySQL', 'Database Management']
SQL
['SQL', 'Oracle', 'MySQL', 'Database Management']
Excel
['SQL', 'Oracle', 'MySQL', 'Database Management']
Python
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
SQL
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
Excel
['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']
Python
['R', 'SAS', 'Python', 'Statistical Modeling']
SQL
['R', 'SAS', 'Python', 'Statistical Modeling']
Excel
['R', 'SAS', 'Python', 'Statistical Modeling']

In [18]:
for job in job_roles:
  qualified=True
  for skill in my_skills:
    if skill not in job["skills"]:
      qualified=False
      # break
      # print(qualified)
      # print(skill)
      # print(job['skills'])
      if qualified:
        print(job)

In [16]:
# print("Hello")

Hello

In [20]:
def calc(base,bonus=.1):
  total_salary=base*(1+bonus)
  return total_salary
calc(10000)

11000.0

In [22]:
#lambda function
mult=lambda x,y:x+y

In [23]:
mult(3,2)

5

In [24]:
(lambda x,y:x*2 +y)(3,4)

10

In [25]:
import statistics as s
s.mean([1,2,3,4,5,6,7,8])

4.5

In [26]:
data_science_jobs = [
    {'job_title': "Data Scientist", 'job_skills': ['Python', 'SQL', 'Machine Learning'], 'job_date': "2023-05-12"},
    {'job_title': "Data Analyst", 'job_skills': ['Excel', 'R', 'Data Visualization'], 'job_date': "2023-06-18"},
    {'job_title': "Machine Learning Engineer", 'job_skills': ['Python', 'TensorFlow', 'Deep Learning'], 'job_date': "2023-07-22"},
    {'job_title': "Data Engineer", 'job_skills': ['Java', 'SQL', 'ETL'], 'job_date': "2023-08-05"},
    {'job_title': "Business Intelligence Analyst", 'job_skills': ['Power BI', 'SQL', 'Data Warehousing'], 'job_date': "2023-09-10"},
    {'job_title': "AI Research Scientist", 'job_skills': ['Python', 'PyTorch', 'Computer Vision'], 'job_date': "2023-10-15"},
    {'job_title': "Statistician", 'job_skills': ['R', 'Statistics', 'SAS'], 'job_date': "2023-11-20"},
    {'job_title': "Big Data Specialist", 'job_skills': ['Hadoop', 'Spark', 'Scala'], 'job_date': "2023-12-25"},
    {'job_title': "Data Architect", 'job_skills': ['SQL', 'Data Modeling', 'Database Design'], 'job_date': "2024-01-30"},
    {'job_title': "Quantitative Analyst", 'job_skills': ['Python', 'R', 'Financial Modeling'], 'job_date': "2024-03-05"},
    {'job_title': "Data Visualization Specialist", 'job_skills': ['Tableau', 'D3.js', 'Data Storytelling'], 'job_date': "2024-04-10"},
    {'job_title': "Predictive Modeler", 'job_skills': ['Python', 'Machine Learning', 'Predictive Analytics'], 'job_date': "2024-05-15"},
    {'job_title': "Operations Research Analyst", 'job_skills': ['Optimization', 'Statistics', 'R'], 'job_date': "2024-06-20"},
    {'job_title': "Data Mining Specialist", 'job_skills': ['Python', 'SQL', 'Data Mining'], 'job_date': "2024-07-25"},
    {'job_title': "Text Analytics Specialist", 'job_skills': ['NLP', 'Python', 'Text Mining'], 'job_date': "2024-08-30"},
    {'job_title': "Data Quality Analyst", 'job_skills': ['Data Cleaning', 'SQL', 'Data Profiling'], 'job_date': "2024-10-04"},
    {'job_title': "Customer Insight Analyst", 'job_skills': ['Data Analysis', 'Market Research', 'SQL'], 'job_date': "2024-11-09"},
    {'job_title': "Fraud Analyst", 'job_skills': ['Python', 'SQL', 'Fraud Detection'], 'job_date': "2024-12-14"},
    {'job_title': "Healthcare Data Analyst", 'job_skills': ['Healthcare Data', 'SQL', 'Python'], 'job_date': "2025-01-19"},
    {'job_title': "Marketing Data Analyst", 'job_skills': ['Google Analytics', 'Excel', 'Data Analysis'], 'job_date': "2025-02-23"},
    {'job_title': "Financial Data Scientist", 'job_skills': ['Python', 'SQL', 'Finance'], 'job_date': "2025-03-30"},
    {'job_title': "Retail Data Scientist", 'job_skills': ['Python', 'SQL', 'Retail Analytics'], 'job_date': "2025-05-04"},
    {'job_title': "Supply Chain Data Analyst", 'job_skills': ['Python', 'Logistics', 'SQL'], 'job_date': "2025-06-08"},
    {'job_title': "Energy Data Analyst", 'job_skills': ['Energy Data', 'Python', 'SQL'], 'job_date': "2025-07-13"},
    {'job_title': "Sports Data Analyst", 'job_skills': ['Sports Analytics', 'Python', 'SQL'], 'job_date': "2025-08-17"}
]

In [27]:
from datetime import datetime
datetime.now()

datetime.datetime(2024, 12, 26, 6, 54, 13, 482803)

In [28]:
data_science_jobs[0]

{'job_title': 'Data Scientist',
 'job_skills': ['Python', 'SQL', 'Machine Learning'],
 'job_date': '2023-05-12'}

In [37]:
test_data=data_science_jobs[0]['job_date']

In [44]:
for job in data_science_jobs:
  job['job_date']=datetime.strptime(job['job_date'],'%Y-%m-%d')

In [51]:
class person:
  def __init__(self,name,age,school):
    self.name=name
    self.age=age
    self.school=school
  def __str__(self):
    return f"{self.name} is {self.age} and is schooling at {self.school}"
  def walk(self):
    print(f"{self.name} is walking")
  def aging(self):
    print(f"{self.name} has {self.age} yeears")
  def schooling(self):
    print(f"{self.name} is schooling at {self.school}")

rency=person("Rency",21,"KYU")
rency.walk()
rency.aging()
rency.schooling()

Rency is walking
Rency has 21 yeears
Rency is schooling at KYU

In [58]:
#NUMPY
import random
import statistics as s
salary_list=[random.randint(50000,100000) for _ in range(1_000_000)]
salary_list
# s.mean(salary_list)

[55315,
 65131,
 90873,
 96386,
 98456,
 96429,
 56856,
 90690,
 68112,
 51171,
 97139,
 51135,
 66607,
 94315,
 54099,
 97244,
 93696,
 69347,
 59216,
 61816,
 94083,
 73466,
 68785,
 71975,
 91735,
 75938,
 77673,
 88568,
 82694,
 72088,
 99106,
 68369,
 62365,
 71152,
 63491,
 75057,
 50953,
 60245,
 92474,
 96987,
 90424,
 84714,
 82664,
 97183,
 70859,
 52147,
 59364,
 94398,
 58337,
 76673,
 77073,
 96300,
 63164,
 85003,
 89166,
 70417,
 62875,
 83052,
 53558,
 67904,
 94394,
 75556,
 96137,
 93244,
 66368,
 88121,
 51365,
 62220,
 92544,
 53476,
 75367,
 63756,
 61135,
 96747,
 86878,
 76052,
 99158,
 63210,
 88900,
 58584,
 78206,
 84866,
 86569,
 68324,
 80219,
 83501,
 64889,
 95015,
 81682,
 53190,
 93995,
 67207,
 77987,
 75765,
 59937,
 86836,
 62066,
 79420,
 60128,
 93654,
 80430,
 63243,
 76266,
 60821,
 83377,
 74741,
 90468,
 54551,
 63358,
 76701,
 88730,
 66906,
 75845,
 85954,
 80713,
 69603,
 92387,
 50751,
 50024,
 66075,
 73292,
 70899,
 75000,
 52883,
 70769,
 81422,
 91358,
 67607,
 51873,
 96395,
 51345,
 78743,
 70289,
 97736,
 72021,
 72818,
 97718,
 93514,
 90954,
 62111,
 89597,
 64113,
 85818,
 76509,
 68140,
 79251,
 56855,
 94710,
 59158,
 76781,
 81725,
 61250,
 52187,
 60987,
 87569,
 84219,
 94432,
 83403,
 61287,
 79515,
 50878,
 78870,
 68317,
 96351,
 69755,
 60978,
 85560,
 76933,
 68513,
 87225,
 92808,
 98740,
 72210,
 66168,
 81201,
 68024,
 76703,
 71021,
 77072,
 86379,
 50147,
 65593,
 79184,
 95979,
 95237,
 69014,
 97597,
 86079,
 87711,
 73588,
 85296,
 53061,
 51760,
 65766,
 95559,
 87818,
 85501,
 75141,
 52032,
 77406,
 88818,
 82800,
 94277,
 78308,
 61893,
 90982,
 60896,
 71388,
 92865,
 70894,
 80206,
 84436,
 53711,
 64927,
 87943,
 96915,
 82546,
 60193,
 89348,
 64826,
 74803,
 56707,
 88092,
 53600,
 65441,
 95696,
 53488,
 82182,
 77157,
 76760,
 63484,
 79493,
 76261,
 59333,
 91695,
 75458,
 63934,
 86696,
 73106,
 67500,
 84276,
 79093,
 92900,
 67615,
 67570,
 61160,
 95574,
 97666,
 66141,
 99755,
 58251,
 50485,
 74400,
 61720,
 92290,
 96720,
 84282,
 82401,
 88206,
 83569,
 91392,
 62465,
 83834,
 58661,
 92785,
 91827,
 63800,
 58217,
 75086,
 97011,
 80890,
 94256,
 61582,
 52209,
 96339,
 94080,
 86751,
 71765,
 50755,
 60877,
 83212,
 67841,
 99764,
 96057,
 99813,
 93992,
 61981,
 78842,
 87412,
 91340,
 95125,
 51132,
 76363,
 85931,
 94730,
 51657,
 78723,
 69078,
 90056,
 67034,
 57449,
 68252,
 78586,
 87281,
 78058,
 89509,
 55742,
 63886,
 83540,
 83496,
 83541,
 84526,
 55219,
 61204,
 93568,
 96592,
 85488,
 92461,
 97989,
 94100,
 91210,
 91901,
 58905,
 67110,
 57781,
 79033,
 98397,
 59191,
 54304,
 67152,
 73207,
 54416,
 57751,
 91710,
 89962,
 85079,
 93270,
 51971,
 88892,
 84378,
 79903,
 96836,
 65275,
 96418,
 96343,
 96969,
 89894,
 52547,
 82239,
 83202,
 92312,
 90774,
 61882,
 85374,
 84043,
 96167,
 82226,
 86611,
 79449,
 64816,
 93525,
 75315,
 73976,
 96481,
 79187,
 73983,
 57017,
 77317,
 80674,
 59164,
 90115,
 75065,
 94873,
 78365,
 56081,
 97357,
 98125,
 76851,
 51304,
 77120,
 70379,
 81652,
 54359,
 51054,
 81989,
 58929,
 52946,
 56978,
 61835,
 82530,
 76316,
 93474,
 78180,
 71918,
 95713,
 87582,
 81190,
 79161,
 98928,
 59439,
 58274,
 66009,
 76618,
 96089,
 71012,
 94101,
 67513,
 80362,
 73262,
 54338,
 99512,
 76611,
 84099,
 77357,
 92814,
 53703,
 80241,
 66519,
 89889,
 52584,
 69731,
 94317,
 55454,
 83987,
 66604,
 90832,
 51980,
 74123,
 90154,
 95669,
 69244,
 50177,
 50811,
 59777,
 92177,
 60859,
 73625,
 99991,
 83972,
 90003,
 66375,
 79698,
 63237,
 57432,
 56577,
 78929,
 59657,
 99494,
 99671,
 90168,
 74755,
 92431,
 74943,
 78520,
 56120,
 64452,
 75982,
 60368,
 90405,
 83347,
 60747,
 76711,
 86928,
 96717,
 55266,
 74080,
 70466,
 70193,
 60629,
 72189,
 60502,
 91501,
 73053,
 67535,
 60992,
 83138,
 55637,
 96876,
 75065,
 93689,
 77788,
 71385,
 58164,
 50200,
 93211,
 59225,
 56418,
 98195,
 95192,
 88364,
 81018,
 64148,
 79259,
 89591,
 88660,
 63085,
 80213,
 89889,
 82338,
 88128,
 97536,
 50778,
 99170,
 86950,
 95234,
 83581,
 71544,
 97811,
 74658,
 51817,
 52371,
 90605,
 52204,
 63688,
 89916,
 72070,
 73880,
 51291,
 74187,
 72663,
 95076,
 58813,
 59223,
 89683,
 55175,
 73317,
 58884,
 76798,
 87085,
 62551,
 58086,
 60564,
 51429,
 87578,
 83693,
 54823,
 67665,
 56281,
 91302,
 72477,
 71828,
 71640,
 59523,
 59282,
 86336,
 79858,
 57740,
 71337,
 81171,
 99743,
 98598,
 58504,
 82915,
 78395,
 50096,
 65518,
 60610,
 75840,
 74646,
 73465,
 67280,
 67228,
 93637,
 78771,
 58158,
 97337,
 75922,
 78404,
 56075,
 86452,
 93942,
 77466,
 89432,
 69666,
 53160,
 94544,
 79926,
 76279,
 78305,
 96067,
 55598,
 53632,
 55528,
 76660,
 98713,
 88779,
 76130,
 59565,
 71955,
 65377,
 85641,
 94207,
 59287,
 90480,
 68954,
 60891,
 78074,
 70165,
 70902,
 69296,
 88508,
 96996,
 82856,
 88388,
 97780,
 60300,
 58935,
 83474,
 69019,
 69418,
 89790,
 98785,
 92869,
 94825,
 54951,
 50666,
 79680,
 63718,
 82805,
 92253,
 77319,
 98604,
 59616,
 77774,
 67169,
 80717,
 52510,
 75578,
 51069,
 54237,
 83530,
 85692,
 69204,
 63279,
 54514,
 78413,
 99437,
 70211,
 59375,
 81347,
 60326,
 81330,
 88459,
 99044,
 65636,
 85117,
 76097,
 52558,
 88823,
 84536,
 66072,
 85839,
 86406,
 54611,
 65916,
 78538,
 93064,
 94995,
 68266,
 56590,
 53643,
 54519,
 95626,
 51044,
 50390,
 75847,
 67762,
 50602,
 64826,
 63802,
 80229,
 87826,
 83898,
 82902,
 57136,
 69857,
 95418,
 55933,
 68353,
 69459,
 79884,
 62847,
 89198,
 52779,
 77041,
 74936,
 74718,
 77791,
 75861,
 86580,
 65974,
 93606,
 62723,
 66714,
 87573,
 65178,
 81065,
 59848,
 73229,
 69547,
 91156,
 96495,
 51863,
 66952,
 95865,
 73689,
 56220,
 53615,
 53278,
 92003,
 96474,
 57943,
 96381,
 70892,
 66011,
 85833,
 56386,
 98804,
 93867,
 72205,
 67689,
 72278,
 66588,
 53132,
 85389,
 94887,
 72718,
 71990,
 50607,
 78180,
 70452,
 79192,
 66060,
 68579,
 83568,
 91101,
 95733,
 82911,
 57892,
 73805,
 50113,
 91034,
 87939,
 92859,
 74685,
 56046,
 78199,
 75140,
 91059,
 79552,
 56504,
 84353,
 66981,
 71371,
 77820,
 88326,
 88586,
 77033,
 91492,
 67772,
 80750,
 97431,
 61554,
 84748,
 72706,
 86656,
 52418,
 86385,
 50134,
 85794,
 80847,
 82898,
 75167,
 50373,
 96121,
 65756,
 87734,
 56080,
 61894,
 93634,
 63042,
 84660,
 90986,
 54348,
 51829,
 98980,
 91615,
 79485,
 87993,
 93988,
 80231,
 68206,
 86717,
 53252,
 97860,
 61100,
 58418,
 62122,
 89975,
 72732,
 89025,
 66597,
 55303,
 60427,
 53740,
 95904,
 91290,
 56174,
 80707,
 79512,
 84160,
 75755,
 57295,
 99413,
 98249,
 60403,
 52443,
 63196,
 98010,
 68127,
 57508,
 89077,
 87945,
 53205,
 88587,
 93745,
 92453,
 85556,
 54335,
 85051,
 77975,
 83365,
 56317,
 50439,
 55173,
 65841,
 75749,
 51654,
 76326,
 91042,
 59808,
 62045,
 77286,
 72547,
 81320,
 78073,
 95402,
 83267,
 71076,
 62370,
 78088,
 88786,
 90380,
 83163,
 91238,
 68513,
 83471,
 96400,
 65913,
 76267,
 66639,
 57408,
 77339,
 96560,
 90361,
 67139,
 61800,
 98962,
 71501,
 96047,
 92157,
 83874,
 50029,
 97880,
 98981,
 76240,
 98590,
 88993,
 87865,
 66062,
 93656,
 73645,
 50992,
 98814,
 87833,
 63374,
 94339,
 50751,
 81387,
 67745,
 72583,
 71166,
 89782,
 71231,
 77943,
 65756,
 74083,
 56693,
 58429,
 81629,
 78378,
 88192,
 57705,
 60961,
 77031,
 89817,
 65922,
 70479,
 80430,
 64484,
 56396,
 75031,
 54222,
 85490,
 94980,
 56378,
 80716,
 50248,
 90167,
 62907,
 72386,
 71691,
 98151,
 72080,
 77204,
 81743,
 65452,
 79100,
 64962,
 99519,
 52445,
 60679,
 57919,
 73235,
 65288,
 75887,
 86967,
 59268,
 95515,
 75391,
 99538,
 56351,
 90506,
 58498,
 96176,
 85009,
 80372,
 76650,
 96811,
 78788,
 55499,
 55384,
 97372,
 94687,
 85553,
 78484,
 72838,
 98425,
 55746,
 70875,
 67179,
 84667,
 61055,
 78951,
 66593,
 92121,
 76831,
 96172,
 68997,
 63375,
 99498,
 83117,
 82745,
 69977,
 50062,
 59840,
 77363,
 94404,
 96109,
 91969,
 57052,
 51103,
 63028,
 57919,
 51945,
 92714,
 90365,
 82416,
 76219,
 51476,
 87164,
 90165,
 93665,
 53014,
 65063,
 91439,
 88885,
 62407,
 88974,
 59642,
 ...]

In [56]:
s.mean(salary_list)

75017.01708

In [60]:
import numpy as np

In [61]:
%%timeit
np.mean(salary_list)

53.4 ms ± 1.06 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [63]:
my_array=np.array([1,2,3,4,5])
my_array

array([1, 2, 3, 4, 5])

In [64]:
my_array.mean()

3.0

In [74]:
job_titles=np.array(['Data Analyst','Data Science','Machine Learning Engineer','Data Engineer'])
base_salary=np.array([60000,50000,80000,np.nan])
bonus_rates=np.array([.05,.1,.08,np.nan])

In [75]:
total_salaries=base_salary*(1+bonus_rates)
total_salaries

array([63000., 55000., 86400.,    nan])

In [77]:
np.nanmean(total_salaries)

68133.33333333333

In [78]:
#PANDAS
import pandas as pd

In [79]:
data=pd.read_csv('https://raw.githubusercontent.com/sonarsushant/California-House-Price-Prediction/refs/heads/master/housing.csv')
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [80]:
!pip install datasets

Collecting datasets
  Downloading datasets-3.2.0-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from datasets) (3.16.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (17.0.0)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.10/dist-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.10/dist-packages (from datasets) (4.67.1)
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py310-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2024.9.0,>=2023.1.0 (from fsspec[http]<=2024.9.0,>=2023.1.0->datasets)
  Downloading fsspec-2024.9.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets) (3.11.10)
Requirement already satisfied: huggingface-hub>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.27.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.2)
Requirement already satisfied: async-timeout<6.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (4.0.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.18.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.23.0->datasets) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (2024.12.14)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Downloading datasets-3.2.0-py3-none-any.whl (480 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 480.6/480.6 kB 9.5 MB/s eta 0:00:00
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 8.5 MB/s eta 0:00:00
Downloading fsspec-2024.9.0-py3-none-any.whl (179 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 179.3/179.3 kB 12.8 MB/s eta 0:00:00
Downloading multiprocess-0.70.16-py310-none-any.whl (134 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 9.5 MB/s eta 0:00:00
Downloading xxhash-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.1/194.1 kB 12.7 MB/s eta 0:00:00
Installing collected packages: xxhash, fsspec, dill, multiprocess, datasets
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2024.10.0
    Uninstalling fsspec-2024.10.0:
      Successfully uninstalled fsspec-2024.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gcsfs 2024.10.0 requires fsspec==2024.10.0, but you have fsspec 2024.9.0 which is incompatible.
Successfully installed datasets-3.2.0 dill-0.3.8 fsspec-2024.9.0 multiprocess-0.70.16 xxhash-3.5.0

In [82]:
from datasets import load_dataset
data1=load_dataset('lukebarousse/data_jobs')
data1

DatasetDict({
    train: Dataset({
        features: ['job_title_short', 'job_title', 'job_location', 'job_via', 'job_schedule_type', 'job_work_from_home', 'search_location', 'job_posted_date', 'job_no_degree_mention', 'job_health_insurance', 'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg', 'company_name', 'job_skills', 'job_type_skills'],
        num_rows: 785741
    })
})

In [83]:
data1['train'].to_pandas()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [85]:
data1.head()

AttributeError: 'DatasetDict' object has no attribute 'head'

In [86]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [87]:
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [88]:
data['total_rooms'].head()

0     880.0
1    7099.0
2    1467.0
3    1274.0
4    1627.0
Name: total_rooms, dtype: float64

In [91]:
data.iloc[90:100,0:2]

    longitude  latitude
90    -122.27     37.80
91    -122.28     37.80
92    -122.28     37.80
93    -122.27     37.79
94    -122.27     37.80
95    -122.26     37.80
96    -122.26     37.82
97    -122.26     37.81
98    -122.26     37.82
99    -122.26     37.82

In [92]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [93]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [94]:
len(data)

20640

In [95]:
data.shape

(20640, 10)

In [96]:
data.count()

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

In [97]:
data['longitude'].unique()

array([-122.23, -122.22, -122.24, -122.25, -122.26, -122.27, -122.28,
       -122.29, -122.3 , -122.21, -122.2 , -122.19, -122.18, -122.13,
       -122.16, -122.17, -122.15, -122.14, -122.12, -122.33, -122.34,
       -122.06, -122.07, -122.08, -122.09, -122.1 , -122.11, -122.03,
       -121.97, -122.02, -122.04, -122.05, -121.99, -122.01, -121.96,
       -121.98, -122.  , -121.93, -121.94, -121.95, -121.92, -121.89,
       -121.91, -121.9 , -121.88, -121.87, -121.85, -121.86, -121.84,
       -121.82, -121.77, -121.62, -121.61, -121.72, -121.73, -121.75,
       -121.8 , -121.76, -121.78, -121.79, -119.78, -119.93, -120.  ,
       -120.56, -120.59, -120.55, -120.25, -120.79, -120.8 , -120.65,
       -120.76, -120.88, -120.69, -120.93, -120.97, -120.87, -120.98,
       -120.72, -120.77, -120.66, -120.62, -120.71, -121.83, -121.81,
       -121.74, -121.68, -121.54, -121.51, -121.59, -121.58, -121.6 ,
       -121.63, -121.57, -121.65, -121.64, -121.71, -121.66, -121.56,
       -121.5 , -121.41, -121.39, -121.24, -121.19, -121.36, -121.46,
       -121.49, -121.44, -121.47, -121.53, -121.52, -121.55, -121.67,
       -121.69, -121.7 , -120.46, -120.54, -120.67, -120.9 , -120.91,
       -120.57, -120.43, -120.42, -120.41, -120.36, -120.34, -120.33,
       -120.37, -120.27, -120.19, -122.51, -122.32, -122.36, -122.31,
       -122.39, -122.37, -122.41, -122.35, -122.38, -122.42, -124.17,
       -124.3 , -124.23, -124.21, -124.19, -124.22, -124.16, -124.14,
       -124.15, -123.91, -123.83, -123.92, -119.94, -119.95, -119.97,
       -119.98, -119.96, -119.99, -120.01, -120.02, -119.92, -120.04,
       -120.03, -120.13, -120.16, -120.06, -120.1 , -121.04, -120.92,
       -120.84, -120.81, -120.5 , -120.3 , -121.09, -121.08, -121.07,
       -121.06, -121.  , -121.01, -120.99, -121.02, -120.95, -120.96,
       -120.86, -120.83, -120.78, -120.7 , -120.58, -120.6 , -120.63,
       -120.44, -120.32, -120.08, -120.85, -119.81, -119.79, -119.8 ,
       -119.77, -119.82, -119.83, -119.74, -119.76, -119.75, -119.69,
       -119.67, -119.73, -119.72, -119.71, -119.63, -119.65, -119.68,
       -119.89, -119.87, -119.85, -119.84, -119.7 , -119.86, -119.9 ,
       -120.21, -120.05, -120.07, -119.91, -119.88, -119.64, -119.53,
       -119.58, -119.59, -119.5 , -119.57, -119.56, -119.55, -119.54,
       -119.52, -119.47, -119.41, -119.43, -119.39, -119.4 , -119.49,
       -119.61, -119.48, -119.46, -119.33, -119.21, -118.94, -119.34,
       -119.28, -119.32, -118.91, -119.24, -119.25, -119.12, -119.31,
       -119.44, -119.45, -119.6 , -119.62, -120.09, -120.38, -120.35,
       -120.31, -120.18, -120.22, -120.51, -120.39, -120.45, -122.74,
       -122.53, -124.18, -124.11, -124.13, -124.06, -124.05, -124.02,
       -124.08, -124.09, -124.07, -124.1 , -123.74, -123.76, -123.85,
       -123.72, -123.63, -123.66, -123.52, -124.01, -124.  , -123.98,
       -123.88, -124.27, -123.96, -123.73, -124.03, -124.26, -124.35,
       -124.25, -123.84, -123.68, -123.82, -123.75, -123.78, -115.52,
       -115.51, -115.46, -115.6 , -115.73, -115.62, -115.41, -115.59,
       -115.53, -115.54, -115.55, -115.56, -115.32, -115.39, -115.4 ,
       -115.37, -115.38, -115.57, -115.49, -115.64, -115.69, -115.72,
       -115.58, -115.48, -115.5 , -116.05, -116.  , -115.88, -115.9 ,
       -116.01, -115.99, -115.94, -115.98, -115.91, -115.96, -115.95,
       -115.8 , -114.73, -114.98, -114.65, -114.55, -114.63, -114.66,
       -118.18, -118.43, -118.6 , -118.45, -118.42, -118.4 , -118.39,
       -118.3 , -117.9 , -118.31, -118.05, -117.69, -117.02, -116.22,
       -119.02, -119.03, -119.05, -119.04, -119.08, -119.07, -119.09,
       -119.11, -119.01, -118.99, -119.  , -118.97, -118.98, -118.96,
       -118.95, -118.92, -118.9 , -118.87, -118.88, -118.93, -119.06,
       -119.1 , -119.13, -119.15, -119.16, -119.42, -119.19, -119.2 ,
       -119.18, -119.27, -119.26, -119.38, -119.36, -119.35, -119.14,
       -119.29, -119.22, -119.23, -118.06, -118.44, -118.47, -118.5 ,
       -118.59, -118.23, -118.33, -118.41, -118.48, -118.61, -117.73,
       -117.66, -117.67, -117.68, -117.7 , -117.64, -117.76, -117.81,
       -117.87, -117.84, -117.74, -118.  , -117.82, -117.79, -118.01,
       -117.98, -117.95, -117.99, -118.27, -118.34, -117.65, -118.15,
       -118.17, -118.19, -118.16, -118.51, -118.66, -118.46, -118.83,
       -118.85, -118.82, -119.66, -120.14, -120.12, -122.89, -122.9 ,
       -122.91, -122.88, -123.07, -122.95, -122.92, -122.94, -122.99,
       -122.7 , -122.87, -122.86, -122.83, -122.79, -122.8 , -122.78,
       -122.69, -122.73, -122.66, -122.65, -122.52, -122.68, -122.63,
       -122.62, -122.61, -122.6 , -122.64, -122.75, -122.71, -122.85,
       -122.84, -122.77, -122.72, -122.48, -122.59, -122.5 , -122.55,
       -121.11, -121.03, -120.64, -120.49, -120.2 , -118.28, -118.29,
       -118.35, -118.32, -118.36, -118.38, -118.49, -118.52, -118.54,
       -118.55, -118.57, -118.53, -118.63, -118.62, -118.64, -118.56,
       -118.58, -118.37, -118.65, -118.22, -118.2 , -118.21, -118.24,
       -118.25, -118.26, -117.71, -117.78, -117.8 , -117.83, -117.93,
       -117.91, -117.89, -117.88, -117.85, -117.86, -117.77, -117.75,
       -117.72, -117.92, -117.94, -117.97, -117.96, -118.02, -118.03,
       -118.04, -118.07, -118.08, -118.09, -118.1 , -118.11, -118.12,
       -118.13, -118.14, -118.69, -118.67, -118.68, -118.76, -118.75,
       -118.72, -118.78, -118.8 , -118.84, -118.79, -118.74, -118.86,
       -118.7 , -119.51, -120.26, -120.29, -120.11, -122.49, -122.54,
       -122.58, -122.57, -122.56, -122.44, -122.45, -122.47, -122.46,
       -122.93, -122.96, -122.81, -120.15, -123.15, -123.24, -123.23,
       -123.47, -123.71, -123.58, -123.5 , -123.64, -123.79, -123.8 ,
       -123.34, -123.4 , -123.32, -123.38, -123.35, -123.37, -123.36,
       -123.1 , -123.11, -123.18, -123.22, -123.21, -123.19, -123.2 ,
       -123.81, -123.7 , -123.53, -123.69, -123.59, -123.54, -123.39,
       -123.17, -123.16, -120.68, -120.75, -120.74, -120.73, -120.94,
       -120.89, -120.61, -120.48, -120.47, -120.4 , -120.24, -120.82,
       -121.16, -121.18, -119.3 , -121.43, -121.45, -121.42, -121.48,
       -121.31, -121.32, -121.33, -121.4 , -121.23, -121.25, -121.26,
       -121.12, -121.13, -121.2 , -122.4 , -121.1 , -121.05, -121.22,
       -121.14, -121.21, -121.15, -120.17, -120.23, -117.62, -117.6 ,
       -117.63, -117.55, -117.59, -117.58, -117.49, -117.53, -117.61,
       -121.17, -121.27, -121.28, -121.3 , -121.29, -120.53, -117.35,
       -117.36, -117.37, -117.38, -117.39, -117.41, -117.4 , -117.44,
       -117.43, -117.42, -117.45, -117.5 , -117.48, -117.47, -117.51,
       -117.52, -117.56, -117.57, -117.46, -117.54, -117.33, -117.34,
       -117.26, -117.3 , -117.28, -117.32, -117.31, -117.29, -117.24,
       -117.23, -117.25, -117.21, -117.14, -117.27, -117.22, -117.16,
       -117.13, -117.19, -117.17, -117.2 , -117.07, -117.11, -117.08,
       -117.18, -117.06, -117.09, -117.15, -117.12, -117.05, -116.96,
       -117.1 , -116.99, -116.91, -116.89, -116.95, -116.9 , -116.92,
       -116.93, -116.94, -116.97, -116.98, -117.01, -117.  , -116.87,
       -116.88, -116.86, -117.04, -117.03, -116.79, -116.77, -116.81,
       -116.75, -116.8 , -116.71, -116.68, -116.74, -116.72, -116.48,
       -116.57, -116.76, -116.42, -116.6 , -116.69, -116.39, -116.51,
       -116.61, -116.44, -116.36, -116.52, -116.53, -116.5 , -116.47,
       -116.63, -116.54, -116.55, -116.49, -116.56, -116.46, -116.43,
       -116.45, -116.4 , -116.38, -116.33, -116.31, -116.37, -116.41,
       -116.29, -116.3 , -116.26, -116.25, -116.24, -116.21, -116.23,
       -116.2 , -116.15, -116.11, -116.17, -116.12, -115.84, -116.16,
       -116.19, -116.18, -116.08, -115.22, -114.67, -114.49, -114.68,
       -114.56, -114.57, -114.59, -114.61, -114.6 , -114.58, -114.62,
       -121.38, -121.37, -121.35, -121.34, -115.93, -115.75, -116.14,
       -116.32, -116.27, -116.35, -116.62, -116.73, -116.06, -116.09,
       -116.02, -115.85, -114.94, -114.47, -114.31, -114.64, -116.85,
       -116.83, -116.82, -116.84, -116.78, -116.58, -116.66, -116.67,
       -116.34, -116.28, -122.43, -120.52, -122.76, -123.26, -123.41,
       -123.08, -122.67, -122.82, -123.04, -123.02, -122.98, -123.01,
       -123.  , -122.97, -123.03, -123.49, -123.25, -123.48, -123.28,
       -123.13, -123.12, -123.43, -119.37, -118.73, -120.28, -119.17,
       -118.89, -118.81, -118.77, -118.71])

In [98]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [99]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [104]:
median_age=data.loc[data['housing_median_age']==18,"total_bedrooms"]
median_age

131       210.0
542       763.0
654      1526.0
656      1007.0
755       419.0
          ...
20600     367.0
20603    1021.0
20609     480.0
20636     150.0
20638     409.0
Name: total_bedrooms, Length: 570, dtype: float64